body {
  font-family: sans-serif;
}

:root {
  --clock-body-width: 600px;
  --clock-body-height: 600px;
  --hour-hand-rotate: 90deg;
  --min-hand-rotate: 90deg;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  height: 150px;
  width: var(--clock-body-width);
  background-color: rgb(192, 189, 189);
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 6px;
  padding-right: 6px;
  height: 40px;
  width: 64px;
  border: transparent;
  font-size: 18px;
  font-weight: bold;
}

button {
  padding: 9px 18px;
  font-size: 18px;
}

#result {
  width: var(--clock-body-width);
  height: 40px;
  font-size: 18px;
}

.clock-body {
  position: relative;
  width: var(--clock-body-width);
  height: var(--clock-body-height);
  background-color: white;
  border: 10px solid black;
  border-radius: 50%;
}

.circle-point {
  position: absolute;
  top: calc(45%);
  left: calc(45%);

  width: 10%;
  height: 10%;
  background-color: red;
  border-radius: 50%;
}

.hour-hand {
  position: absolute;
  left: 1%;
  right: 1%;
  top: 49%;
  height: 2%;
  transform: rotate(var(--hour-hand-rotate));
}

.hour-hand:after {
  content: "";
  position: absolute;
  left: 15%;
  width: 35%;
  height: 100%;
  background-color: black;
}

.min-hand {
  position: absolute;
  left: 1%;
  right: 1%;
  top: 49.5%;
  height: 1%;
  transform: rotate(var(--min-hand-rotate));
}

.min-hand:after {
  content: "";
  position: absolute;
  left: 5%;
  width: 45%;
  height: 100%;
  background-color: red;
}

.dash {
  position: absolute;
  left: 0;
  right: 0;
  top: 49.5%;
  height: 1%;
  transform: rotate(var(--dash-rotate));
}

.dash:after {
  content: "";
  position: absolute;
  left: 0;
  width: var(--dash-width);
  height: 100%;
  background-color: var(--dash-color);
}
